.title1,
.title2,
.title3,
.title4,
.title5 {
    font-weight: 500;
    font-family: var(--title);
}

.title1 {
    font-size: var(--title-1-desktop-size);
}

.title2 {
    font-size: var(--title-2-desktop-size);
}

.title3 {
    font-size: var(--title-3-desktop-size);
}

.title4 {
    font-size: var(--title-4-desktop-size);
}

.title5 {
    font-size: var(--title-5-desktop-size);
}

/* 
* use the prefixClassname in the application to change the color of the title prefix
*/
.prefix {
    color: var(--bs-primary);
}

/* 
* use the contentClassname in the application to change the color of the title content
*/
.content {
    color: var(--bs-secondary);
}

@media screen and (max-width: 991px) {
    .title1 {
        font-size: var(--title-1-tablet-size);
    }

    .title2 {
        font-size: var(--title-2-tablet-size);
    }

    .title3 {
        font-size: var(--title-3-tablet-size);
    }

    .title4 {
        font-size: var(--title-4-tablet-size);
    }

    .title5 {
        font-size: var(--title-5-tablet-size);
    }
}