.success-tag,
.info-tag,
.error-tag,
.warning-tag,
.suspended-tag,
.unknown-tag {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    color: white;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    width: 10rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-tag {
    background-color: var(--bs-success);
}

.info-tag {
    background-color: var(--bs-info);
}

.error-tag {
    background-color: var(--bs-danger);
}

.warning-tag {
    background-color: var(--bs-warning);
}

.suspended-tag {
    background-color: var(--bs-yellow);
}

.unknown-tag {
    background-color: var(--bs-secondary);
}