.footer-logo {
  width: auto;
  height: 3.5rem;
  max-width: 8.75rem;
  max-width: 20vh;
  cursor: pointer;
}

.items {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.7rem 0 0.7rem;
}

.side-container {
  width: 8.75rem;
  max-width: 20vh;
}